.u-section-1 .u-sheet-1 {
  min-height: 2631px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  min-height: 657px;
  margin: 20px 0 53px;
}

.u-section-1 .u-repeater-1 {
  min-height: 2427px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-1 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-1 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 23px;
}

.u-section-1 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 23px;
}

.u-section-1 .u-image-5 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 23px;
}

.u-section-1 .u-image-6 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 23px;
}

.u-section-1 .u-image-7 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 23px;
}

.u-section-1 .u-image-8 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 23px;
}

.u-section-1 .u-image-9 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 23px;
}

.u-section-1 .u-image-10 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-21 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 23px;
}

.u-section-1 .u-image-11 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-23 {
  font-style: italic;
  margin: 18px 8px 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 23px;
}

.u-section-1 .u-image-12 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px 69px 0 8px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  margin: 18px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2203px;
  }

  .u-section-1 .u-text-1 {
    width: 291px;
  }

  .u-section-1 .u-list-1 {
    min-height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 1999px;
  }

  .u-section-1 .u-image-1 {
    height: 239px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 239px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 239px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 239px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 239px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 239px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 239px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 239px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 239px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    height: 239px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 239px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 239px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3673px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1699px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 3469px;
  }

  .u-section-1 .u-image-1 {
    height: 281px;
  }

  .u-section-1 .u-image-2 {
    height: 281px;
  }

  .u-section-1 .u-image-3 {
    height: 281px;
  }

  .u-section-1 .u-image-4 {
    height: 281px;
  }

  .u-section-1 .u-image-5 {
    height: 281px;
  }

  .u-section-1 .u-image-6 {
    height: 281px;
  }

  .u-section-1 .u-image-7 {
    height: 281px;
  }

  .u-section-1 .u-image-8 {
    height: 281px;
  }

  .u-section-1 .u-image-9 {
    height: 281px;
  }

  .u-section-1 .u-image-10 {
    height: 281px;
  }

  .u-section-1 .u-image-11 {
    height: 281px;
  }

  .u-section-1 .u-image-12 {
    height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-6 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-7 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-8 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-9 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-10 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-11 {
    height: 464px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-12 {
    height: 464px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-6 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-7 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-8 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-9 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-10 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-11 {
    height: 330px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-12 {
    height: 330px;
  }
}