body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  flex: 1;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
}

.promo {
  width: 50%;
}

.description {
  font-size: 1.25rem;
  color: rgb(100, 100, 100);
}

.visit-game-gallery {
  padding: 0.6rem 1rem;
  background-color: rgb(123, 87, 255);
  border-radius: 0.4rem;
  color: white;
}

.visit-game-gallery:hover {
  background-color: rgb(97, 59, 236);
}

.start-game-home-image {
  width: 30%;
  max-width: 400px;
}

@media screen and (max-width: 640px) {
  section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }

  .promo {
    width: 100%;
  }

  .start-game-home-image {
    width: 20rem;
    margin-bottom: 2rem;
  }
}
